<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with Meyawo landing page.">
  <meta name="author" content="Devcrud">
  <title>Vishal Sindhi</title>
  <!-- font icons -->
  <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
  <!-- Bootstrap + Meyawo main styles -->
  <link rel="stylesheet" href="assets/css/meyawo.css">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

  <!-- Page Navbar -->
  <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
    <div class="container">
      <!-- <a class="logo" href="#">Meyawo</a> -->
      <ul class="nav">
        <li class="item">
          <a class="link" href="#home">Home</a>
        </li>
        <li class="item">
          <a class="link" href="#about">About</a>
        </li>
        <li class="item">
          <a class="link" href="#skills">Skills</a>
        </li>
        <li class="item">
          <a class="link" href="#experience">Experience</a>
        </li>
        <li class="item">
          <a class="link" href="#course">Courses/Certificates</a>
        </li>
        <li class="item">
          <a class="link" href="#project">Projects</a>
        </li>
      </ul>
      <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </a>
    </div>
  </nav><!-- End of Page Navbar -->

  <!-- page header -->
  <header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content container">
      <h1 class="header-title">
        <span class="up">HI!</span>
        <span class="down">I am Vishal Sindhi</span>
      </h1>
      <p class="header-subtitle">Software Developer</p>

      <a href="https://github.com/vis2712" target="_blank"><button class="btn btn-primary">Visit My Works</button></a>
    </div>
  </header><!-- end of page header -->

  <!-- about section -->
  <section class="section pt-0" id="about">
    <!-- container -->
    <div class="container text-center">
      <!-- about wrapper -->
      <div class="about">
        
        <div class="about-caption">
          <p class="section-subtitle">Who Am I ?</p>
          <h2 class="section-title mb-3">About Me</h2>
          <p>
            Hi, I'm Vishal Sindhi! I'm a software developer with a passion for building innovative and user-friendly applications. I'm currently working as a MEAN stack developer at Mehta Softech LLP, where I've been gaining valuable experience in full-stack development.
            <br>My interest in software development began when I was still young. I was always fascinated by how computers worked and loved to tinker with code. This passion led me to pursue a Bachelor of Technology (B.Tech) in Computer Science from Charusat University, where I further honed my skills and knowledge.
          </p>
          <a href="https://drive.google.com/file/d/10gvkwkcnRCfyecsR8H9SOZuVpXFaVYKB/view?usp=sharing" target="_blank"><button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button></a>
        </div>
      </div><!-- end of about wrapper -->
    </div><!-- end of container -->
  </section> <!-- end of about section -->

  <!-- service section -->
  <section class="section" id="skills">
    <div class="container text-center">
      <p class="section-subtitle">What I Known ?</p>
      <h6 class="section-title mb-6">Skillset</h6>
      <!-- row -->
      <div class="row">
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">Angular JS</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">Node JS</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">Javascript</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">Express JS</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">PSQL</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">HTML</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">TypeScript</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">DSA</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">DBMS</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">CSS</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">C / C++</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">OS</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">OOPs</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2" style="padding-bottom: 10px;">
          <div class="service-card">
            <div class="body">
              <h6 class="title">CN</h6>
            </div>
          </div>
        </div>
      </div><!-- end of row -->
    </div>
  </section><!-- end of service section -->


  <!-- blog section -->
  <section class="section" id="experience">
    <!-- container -->
    <div class="container text-center">
      <p class="section-subtitle">Recent Jobs</p>
      <h6 class="section-title mb-6">Experience</h6>
      <!-- blog-wrapper -->
      <div class="blog-card">
        <div class="blog-card-header">
          <img src="assets/imgs/unnamed.png" class="blog-card-img"
            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
        </div>
        <div class="blog-card-body">
          <table style="width: 100%;">
            <tr>
              <td>
                <a href="https://www.mehtasoftech.com/" target="_blank"><h5 class="blog-card-title">Mehta Softech LLP</h5></a>
                <p >
                  <a href="#">Angular & Node Developer</a>
                </p>
              </td>
              <td style="float: right;">
                <span>May,2022 - Present</span><br>
                <span class="blog-card-caption">Ahmedabad,Gujarat</span>
              </td>
            </tr>
          </table>
          <p >
            <a href="#"></a>
          </p>
          
          <p>Working as a <b>Full-Stack Developer</b> at Mehta Softech LLP, I am leading the development of <b> "TankhwaPatra"</b>, a comprehensive software solution.</p>
          <p><b> "TankhwaPatra"</b> boasts an impressive user base with over <b>160+ companies and 20,000+ users.</b></p>
          <p>Empowering organizations with Realtime Employee <b> Tracking</b>, Attendance with <b>Geo Tracking and Fencing.</b></p>
          </p>
          <p>Streamlining Visit Management and <b>Expense Management</b> processes for enhanced efficiency with <b>Dynamic Salary Calculation</b> and on-demand <b>Salary Slip Generation.</b>
          </p>
          <p>My contributions aim to create a seamless and user-friendly experience, redefining workforce management.</p>

          <a href="https://tankhwapatra.com/" target="_blank" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
        </div>
      </div><!-- end of blog wrapper -->

     <!-- blog-wrapper -->
     <div class="blog-card">
      <div class="blog-card-header">
        <img src="assets/imgs/info.png" class="blog-card-img"
          alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
      </div>
      <div class="blog-card-body">
        <table style="width: 100%;">
          <tr>
            <td>
              <a href="https://www.infoservops.com/" target="_blank"><h5 class="blog-card-title">Infoservops</h5></a>
              <p >
                <a href="#">Project based Intern</a>
              </p>
            </td>
            <td style="float: right;">
              <span>June,2021 - July,2021</span><br>
              <span class="blog-card-caption">Vadodara,Gujarat</span>
            </td>
          </tr>
        </table>
        <p >
          <a href="#"></a>
        </p>
        
       <p>Worked as Project based Intern and worked on few websites which were made out of wordpress and elementer </p>
      </div>
    </div><!-- end of blog wrapper -->

    </div><!-- end of container -->
  </section><!-- end of blog section -->




  <!-- portfolio section -->
  <section class="section" id="education">
    <div class="container text-center">
      <p class="section-subtitle">What are my qualifications ?</p>
      <h6 class="section-title mb-6">Education</h6>
      <!-- row -->
      <div class="row">
        <div class="col-md-6">
          <a href="http://www.bbit.ac.in/" target="_blank" class="portfolio-card">
            <img src="assets/imgs/edu1.jpeg" class="portfolio-card-img"
              alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            <span class="portfolio-card-overlay">
              <span class="portfolio-card-caption">
                <h4>Diploma in Information Technology</h5>
                  <p class="font-weight-normal">College: B & B Institute of Technology (GTU)</p>
                  <p class="font-weight-normal">August, 2018 - May, 2020</p>
                  <p class="font-weight-normal">CGPA: 9.80</p>
              </span>
            </span>
          </a>
        </div>
        <div class="col-md-6">
          <a href="https://www.charusat.ac.in/" target="_blank" class="portfolio-card">
            <img class="portfolio-card-img" src="assets/imgs/1633521512banner.jpg" class="img-responsive rounded"
              alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            <span class="portfolio-card-overlay">
              <span class="portfolio-card-caption">
                <h4>B.Tech in Computer Science & Engineering </h5>
                  <p class="font-weight-normal">College: Charotar University of Science & Technology</p>
                  <p class="font-weight-normal">August, 2020 - May, 2023</p>
                  <p class="font-weight-normal">CGPA: 8.94</p>
              </span>
            </span>
          </a>
        </div>

      </div><!-- end of row -->
    </div><!-- end of container -->
  </section> <!-- end of portfolio section -->

  <!-- testimonial section -->
  <section class="section" id="course">
    <div class="container text-center">
      <h6 class="section-title mb-6">Courses/Certificates</h6>

      <!-- row -->
      <div class="row">
        <div class="col-md-4">
          <div class="testimonial-card">
            <div class="testimonial-card-img-holder">
              <img src="assets/imgs/HackerRank_logo.png" class="testimonial-card-img"
                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="testimonial-card-body">
              <p class="testimonial-card-subtitle">5-star (Gold Badge) in Problem solving On Hackerrank.</p>
              <a href="https://www.hackerrank.com/profile/KHILANIVISHAL101" target="_blank"><h6 class="testimonial-card-title">View</h6></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-card">
            <div class="testimonial-card-img-holder">
              <img src="assets/imgs/codingninjas.jpeg" class="testimonial-card-img"
                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="testimonial-card-body">
              <p class="testimonial-card-subtitle">Completed DSA course on Coding Ninjas  </p>
              <a href="https://drive.google.com/file/d/14mrJHn8aFjk8F9zmrTqi4reKUYRdPD1q/view?usp=sharing" target="_blank"><h6 class="testimonial-card-title">View</h6></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-card">
            <div class="testimonial-card-img-holder">
              <img src="assets/imgs/g4g.jpg" class="testimonial-card-img"
                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="testimonial-card-body">
              <p class="testimonial-card-subtitle"> Solved 250+ DSA questions on different coding platforms with 270+ coding score on GFG
              </p>
              <a href="https://auth.geeksforgeeks.org/user/vishalsindhi" target="_blank"><h6 class="testimonial-card-title">View</h6></a>
            </div>
          </div>
        </div>  
        <div class="col-md-4">
          <div class="testimonial-card">
            <div class="testimonial-card-img-holder">
              <img src="assets/imgs/charusat.jpeg" class="testimonial-card-img"
                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="testimonial-card-body">
              <p class="testimonial-card-subtitle">Secured 3rd rank in Hackathon’22 organized by DEPSTAR, CHARUSAT

              </p>
              <a href="https://drive.google.com/file/d/1jz-YgXguTHcNVKw79M8eNt8Flf1OT7T9/view?usp=sharing" target="_blank"><h6 class="testimonial-card-title">View</h6></a>
            </div>
          </div>
        </div>  
        <div class="col-md-4">
          <div class="testimonial-card">
            <div class="testimonial-card-img-holder">
              <img src="assets/imgs/azure.png" class="testimonial-card-img"
                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="testimonial-card-body">
              <p class="testimonial-card-subtitle">Cleared Microsoft Azure Fundamentals Exam (AZ-900) with score 73%
              </p>
              <a href="https://www.credly.com/badges/33d6f90e-d7fd-4654-b639-d0058631d939" target="_blank"><h6 class="testimonial-card-title">View</h6></a>
            </div>
          </div>
        </div>  
      </div>
    </div> <!-- end of container -->
  </section> <!-- end of testimonial section -->


  <!-- section -->
  <section class="section-sm bg-primary">
    <!-- container -->
    <div class="container text-center text-sm-left">
      <!-- row -->
      <div class="row align-items-center">
        <div class="col-sm offset-md-1 mb-4 mb-md-0">
          <h6 class="title text-light">Want to work with me?</h6>
          <p class="m-0 text-light">Always feel Free to Contact & Hire me</p>
        </div>
        <div class="col-sm offset-sm-2 offset-md-3">
          <button class="btn btn-lg my-font btn-light rounded">Hire Me</button>
        </div>
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </section> <!-- end of section -->



  <!-- blog section -->
  <section class="section" id="project">
    <!-- container -->
    <div class="container text-center">
      <p class="section-subtitle">Recent Work</p>
      <h6 class="section-title mb-6">Projects</h6>
      <!-- blog-wrapper -->
      <div class="blog-card">
        <div class="blog-card-header">
          <img src="assets/imgs/google.png" class="blog-card-img"
            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
        </div>
        <div class="blog-card-body">
          <table style="width: 100%;">
            <tr>
              <td>
                <a href="https://github.com/vis2712/googlefeaturesinabox" target="_blank"><h5 class="blog-card-title">Google features in a BOX</h5></a>
                <p >
                  <a href="#">Javascript</a>
                </p>
              </td>
              <td style="float: right;">
                <span>January,2022</span><br>
              </td>
            </tr>
          </table>
          <p >
            <a href="#"></a>
          </p>
          
          <p>Web application which is made with Javascript and is based project which provide few Google features in it.</p>
          <p>Features like Web Search, Youtube, Maps, Weather, etc.</p>
        </div>
      </div><!-- end of blog wrapper -->

            <!-- blog-wrapper -->
            <div class="blog-card">
              <div class="blog-card-header">
                <img src="assets/imgs/social+distancing.png" class="blog-card-img"
                  alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
              </div>
              <div class="blog-card-body">
                <table style="width: 100%;">
                  <tr>
                    <td>
                      <a href="https://github.com/vis2712/Social-Distancing-Detector" target="_blank"><h5 class="blog-card-title">Social Distancing Detector</h5></a>
                      <p >
                        <a href="#">Python OpenCV</a>
                      </p>
                    </td>
                    <td style="float: right;">
                      <span>August,2022</span><br>
                    </td>
                  </tr>
                </table>
                <p >
                  <a href="#"></a>
                </p>
                
                <p>Used for maintaining social distancing at public places..</p>
                <p>Integrated with 3 Algorithms object detector, object identifier, Pixel counter for achieving the functionality of the project</p>
                <p>Got 3rd rank in Hackathon'2022 with these project</p>
              </div>
            </div><!-- end of blog wrapper -->

                  <!-- blog-wrapper -->
      <div class="blog-card">
        <div class="blog-card-header">
          <img src="assets/imgs/crypto.png" class="blog-card-img"
            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
        </div>
        <div class="blog-card-body">
          <table style="width: 100%;">
            <tr>
              <td>
                <a href="https://github.com/vis2712/Crypto_Tracker" target="_blank"><h5 class="blog-card-title">Crypto Tracker</h5></a>
                <p >
                  <a href="#">Javascript</a>
                </p>
              </td>
              <td style="float: right;">
                <span>October,2021</span><br>
              </td>
            </tr>
          </table>
          <p >
            <a href="#"></a>
          </p>
          
          <p>Web App to track the live data for several Cryptocurrencies using Axios integrated with google analytics</p>
          <p>Features like Web Search, Youtube, Maps, Weather, etc with auto 30 second refresh</p>
        </div>
      </div><!-- end of blog wrapper -->

    </div><!-- end of container -->
  </section><!-- end of blog section -->



  <!-- core  -->
  <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
  <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

  <!-- bootstrap 3 affix -->
  <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

  <!-- Meyawo js -->
  <script src="assets/js/meyawo.js"></script>

      <!-- footer -->
      <div class="container">
        <footer class="footer">
            
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="https://www.linkedin.com/in/vis2712" target="_blank" class="link"><i class="ti-linkedin"></i></a>
                <a href="https://github.com/vis2712" target="_blank" class="link"><i class="ti-github"></i></a>
                <a href="mailto:khilanivishal101@gmail.com" class="link"><i class="ti-google"></i></a>
            </div>
        </footer>
    </div> <!-- end of page footer -->


</body>

</html>